$font-family-body: 'Inter','Helvetica Neue', Arial, sans-serif;
$font-family-header: "Montserrat", sans-serif;

$font-size-base: 12px;
$font-size-lg: 13px;
$font-size-xl: 14px;
$font-size-2xl: 15px;
$font-size-3xl: 24px;


$line-height-base: 1.3;
$line-height-heading: 1.2;
// $letter-spacing-base: 1px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;