.app-navbar {
    width: 100%;                  /* w-full */
    height: 57px;             
    position: sticky;             /* sticky */
    top: 0;                       /* top-0 */
    z-index: 50;                  /* z-50 */
    backdrop-filter: blur(8px);  
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    
    display: flex;
    align-items: center;
    gap: 200px;

    .search-bar {
        width: 400px;
    }

    .right-side {
        display: flex;
        gap: 10px;
    }
}