.color-square {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    cursor: pointer;
}

/* tick positioning */
.check-mark {
    position: absolute;
    font-size: 24px;
    color: white;
    right: 5px;
    bottom: 5px;
    font-weight: bold;
  }
  
/* optional: outline when selected */
.color-square.selected {
    border: 2px solid #000;
}
  