.FormSettings {
    .preview-publish {
        display: flex;
        flex-direction: row;
        gap: 10px;
        float: left;
        align-items: center;
        justify-content:  center;
    }
}