.WebFormDashboard {
    width: 100%;
    height: 100vh;
    .DragDropLayout {
        display: flex;
        flex-direction: row;
        height: 100%;

        .Draggable {
            background-color: white;
            flex: none;
            width: 350px;
            max-width: 400px;
            height: 100%;
            overflow-x: hidden;
            flex-shrink: 0;
        }
    
        .canvas-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            
            .settings-section {
                height: 5%;
                // flex: fixed;
                padding-top: 5px;
            }
            .droppable-container {
                flex: 1;  
                padding: 2% 20%;
                overflow-y: auto;
            }
        }

    }
    
}